<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DalOrm.Properties.Settings.LUGConnectionString" connectionString="Data Source=localhost;Initial Catalog=LUG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>